---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Logan Bunch"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 04 2023")}
  heroImage="/lb_selfportrait.jpg"
>
  <p>
    Father, husband, son, brother, I hit all those boxes. I remember leaving
    high school having no idea what I wanted to do with my life. I had been
    accepted to a state university but I ultimately opted not to go, because I
    had no direction. At this point in my life, I can't say for sure if that was
    a good decision or not. It's certain my life would have been drastically
    different, but for better or worse it is impossible to know. I continued to
    work at Applebee's and I attended a handful of courses at my community
    college.
  </p>

  <p>
    Skip a few beats and I'm here with a wife, two kids, a house, and a career
    in quality assurance at a food manufacturer. I'm over a decade out of high
    school and I can now confidently say that I am only slightly more sure about
    what I want to do with my life.
  </p>

  <p>
    I like money, rather, I like buying things, and I like having my bills paid.
    I'm not sure if writing code will provide that for me, but I do know that
    when I am staring into this laptop screen writing code that may or may not
    work, I'm happy.
  </p>
</Layout>
